[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = A-LEXLUTOR
	email = 232763254+A-LEXLUTOR@users.noreply.github.com
