# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Vercel
.vercel

# Upload directory
upload/

# Screenshots
screenshots/

# Page texts
page_texts/

# Cache
.cache/

# System files
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts
.nvm/
.npm/
.pnpm-state/
.browser_data_dir/
.local/
.config/
.gnupg/
.mozilla/
.python_history
.user_env
.vscode-server/
